<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>624903561185-n3j91upk73qd7u3mcfpc1eijjf9v2gos.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624903561185-n3j91upk73qd7u3mcfpc1eijjf9v2gos</string>
	<key>API_KEY</key>
	<string>AIzaSyBALLSz62a913Hq9vZjX8pMp5uUEHr9Zus</string>
	<key>GCM_SENDER_ID</key>
	<string>624903561185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialChatApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>instafeed-60a74</string>
	<key>STORAGE_BUCKET</key>
	<string>instafeed-60a74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624903561185:ios:5fc453153e22d9a3f8fca0</string>
</dict>
</plist>